{% extends 'base.html' %}

{% block content %}

<script type="module" src="{{ url_for('static', filename='scripts/message_encrypt_bundled.js')}}"></script>
<script
    type="module"> bundledFuncs.encryptData('{{ data.recipient_pub_key }}', '{{ data.message }}', '{{ data.nonce }}') </script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<div id="loading">
    <p class="image-holder">
        <img src="/static/assets/img/mail_sending_bw.gif" />
        </p>
</div>

<script type="text/javascript">
    $(window).bind("load", function () {
        $("#loading").show();
        jQuery.ajax({
            type: "POST",
            url: '/outbox/' + '{{ data.sender }}',
            contentType: "application/json",
            data: JSON.stringify({
                "encryptedMessage": window.encrypted_message,
                "sender": '{{ data.sender }}',
                "recipient": '{{ data.recipient }}'
            }),
            dataType: "json",
            success: function (response) {
                if (response.success == true) {
                    window.location = "/outbox/" + '{{ data.sender }}';
                }
                else {
                    alert("Error sending message - please try again");
                    window.location = "/compose";
                };
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

</script>
{% endblock %}