{% extends 'base.html' %}


{% block content %}

<div class="container" style="height: 750px;width: 100%;position: relative;vertical-align: middle;">
    <h4 id="connectToMM"
        style=" text-align:center; font-family: 'PT Mono'; font-size:0.8em; color:#ffffff;margin: 0;position: absolute;top: 5%;left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%)">
    </h4>
    <img src="static/assets/img/w3mail-banner-transparent.png" width="50%"
        style="margin: 0;position: absolute;top: 50%;left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);">


    <div class="typewriter" style="width:max-content; margin: 0;position: absolute;top: 75%;left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);">
        <h4>Don't just say hello to simple and secure web3 messaging. Do it with w3mail.</h4>
    </div>


</div>

{% endblock %}