{% extends 'base.html' %}

{% block content %}

<div class="container" style="height: 750px;width: 100%;position: relative;vertical-align: middle;">
    <h4 id="connectToMM"
        style=" text-align:center; font-family: 'PT Mono'; font-size:0.8em; color:#ffffff;margin: 0;position: absolute;top: 5%;left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%)">
    </h4>
    <img src="static/assets/img/w3mail.gif" width="647" height="262"
        style="margin: 0;position: absolute;top: 50%;left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);">

</div>

{% endblock %}
